.cart-container {
    width: 85%;
    margin: 40px auto;
}

.cart-item {
    display: flex;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: 0.4s ease;
}

.cart-item:hover {
    transform: translateY(-5px);
}

.cart-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}